/* Import custom font */
@font-face {
    font-family: 'Upheaval';
    src: url('/src/images/assets/upheavtt.ttf') format('truetype');
}

@font-face {
    font-family: 'Arcade';
    src: url('/src/images/assets/arcade.ttf') format('truetype');
}

*, *::before, *::after {
    box-sizing: border-box;
}

.fluid {
    width:100% !important;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

#startButton {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px 20px;
    font-size: 3rem;
    font-family: 'Upheaval', sans-serif;
    /* background: linear-gradient(180deg, #d8f500, #F56263);
    color: #531359; */
    background: linear-gradient(180deg, #ffffff, #bbbbbb);
    color: #1b0e0e;
    border:  none;
    cursor: pointer;
    border-radius: 15px;
}

#startButton:hover {
    background-color: #45a049;
    transform: scale(1.1);
}




#root {
    /* When this is relative, child elements positioned absolutely will
       be relative to this element, not the document providing more accurate
       positioning, since the canvas will be at (0, 0) */
    position: relative;
}
#root #ui {
    /* This will make the UI appear on top of the canvas */
    position: absolute;

}


/* These are scene-based UI styles */
#ui.MainMenu {
    position: absolute;
    top: 10%;
    bottom: 20%;
    left: 10%;
    right:10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ui.MainMenu .main-menu-button {
    padding: 6px 10px;
    font-family: 'Upheaval', sans-serif;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    background-color: transparent;
    border: none;
    
}

#ui.LevelSelection{
    top: 10%;
    bottom: 20%;
    left: 10%;
    right:10%;

}

.level-selection-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ui.LevelSelection .level-button {
    padding: 1rem 2.5rem;
    font-family: 'Upheaval', sans-serif;
    font-size: 10rem;
    color: white;
    cursor: pointer;
    background-color: transparent;
    border: none;


}

#ui.LevelSelection .level-button:hover {
    color: #F0CC4C;
    cursor: pointer;

}

#ui.MainMenu button:hover {
    color: #F0CC4C;
  }

#ui.authenticate {
    position: absolute;
    top: 10%;
    bottom: 10%;
    right: 10%;
    left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ui.authenticate h1,
#ui.MainMenu h1,
#ui.LevelSelection h1 {
    font-family: 'Upheaval', sans-serif;
    font-size: 6rem;
    letter-spacing: 5px;
    color: #ffffff;
    margin-bottom: 5px;
    text-shadow: 5px 5px 4px rgb(39, 27, 7); /* Adjust values as needed */
}

#ui.authenticate input {
    font-family: 'Upheaval', sans-serif;
    padding: 10px 15px;
    font-size: 1.5rem;
    background: white;
    color: #000000;
    border: solid 2px #2e2e2e;
    cursor: pointer;
    border-radius: 15px;
    margin-bottom: 10px;
}

#ui.authenticate button {
    font-family: 'Upheaval', sans-serif;
    padding: 10px 15px;
    font-size: 1.5rem;
    background: white;
    color: #000000;
    border: solid 2px #2e2e2e;
    cursor: pointer;
    border-radius: 15px;
}

#ui.StorySelection{
    top: 10%;
    bottom: 20%;
    left: 10%;
    right:10%;
}

.story-selection-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}