/* Import custom font */
@font-face {
    font-family: 'Upheaval';
    src: url('/src/images/assets/upheavtt.ttf') format('truetype');
}

@font-face {
    font-family: 'Arcade';
    src: url('/src/images/assets/arcade.ttf') format('truetype');
}

*, *::before, *::after {
    box-sizing: border-box;
}

html{
    background-color: #000000;
}

.fluid {
    width:100% !important;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

#startButton {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px 20px;
    font-size: 3rem;
    font-family: 'Upheaval', sans-serif;
    /* background: linear-gradient(180deg, #d8f500, #F56263);
    color: #531359; */
    background: linear-gradient(180deg, #ffffff, #bbbbbb);
    color: #1b0e0e;
    border:  none;
    cursor: pointer;
    border-radius: 15px;
}

#startButton:hover {
    background-color: #45a049;
    transform: scale(1.1);
}




#root {
    /* When this is relative, child elements positioned absolutely will
       be relative to this element, not the document providing more accurate
       positioning, since the canvas will be at (0, 0) */
    position: relative;
    text-align: center;
}
#root #ui {
    /* This will make the UI appear on top of the canvas */
    position: absolute;

}

/* These are scene-based UI styles */
#ui.MainMenu{
    position: absolute;
    top: 10%;
    bottom: 20%;
    left: 10%;
    right:10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ui.MainMenu button {
    padding: 6px 10px;
    font-family: 'Upheaval', sans-serif;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    background-color: transparent;
    border: none;
    
}

#ui.MainMenu h3 {
    font-family: 'Upheaval', sans-serif;
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 35px;
    letter-spacing: 2px;
    background-color: #000000;
    padding: 5px 25px;
    border-radius: 4rem;
}

#ui.LevelSelection{
    /*position: absolute;*/
    top: 10%;
    bottom: 20%;
    left: 10%;
    right:10%;

}

.level-selection-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 80%;
}

.level-selection-wrapper button {
    padding: 1rem 2.5rem;
    font-family: 'Upheaval', sans-serif;
    font-size: 5rem;
    color: white;
    cursor: pointer;
    background-color: saddlebrown;
    border-radius: 2rem;
    margin: 1rem;
    border-color: black;
}

.level-selection-wrapper button:hover {
    background-color: #B17B44;
}

#ui.LevelSelection level_button{
    padding: 1rem 2.5rem;
    font-family: 'Upheaval', sans-serif;
    font-size: 10rem;
    color: white;
    cursor: pointer;
    background-color: transparent;
    border: none;


}

#ui.LevelSelection level_button{
    color: #F0CC4C;
    cursor: pointer;
    font-size: 2rem;

}

#ui.MainMenu button:hover {
    color: #F0CC4C;
  }

#ui.authenticate {
    position: absolute;
    top: 10%;
    bottom: 10%;
    right: 10%;
    left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ui.authenticate h1,
#ui.MainMenu h1,
#ui.LevelSelection h1{
    font-family: 'Upheaval', sans-serif;
    font-size: 6rem;
    letter-spacing: 5px;
    color: #ffffff;
    margin-bottom: 5px;
    text-shadow: 5px 5px 4px rgb(39, 27, 7); /* Adjust values as needed */
}

#ui.authenticate input {
    font-family: 'Upheaval', sans-serif;
    padding: 10px 15px;
    font-size: 1.5rem;
    background: white;
    color: #000000;
    border: solid 2px #2e2e2e;
    cursor: pointer;
    border-radius: 15px;
    margin-bottom: 10px;
}

#ui.authenticate button {
    font-family: 'Upheaval', sans-serif;
    padding: 10px 15px;
    font-size: 1.5rem;
    background: white;
    color: #000000;
    border: solid 2px #2e2e2e;
    cursor: pointer;
    border-radius: 15px;
    scale: 100%;
}

#ui.authenticate button:hover{
    scale: 110%;
}


#dialog{
    border-radius: 12px;
    background: #CFCFCF;
}

dialog::backdrop{
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgb(0, 0, 0) 35%, rgb(82, 82, 82) 100%);
    opacity: 0.5;
}


#dialog *{
    font-size: 1.4rem;
    font-family: 'Upheaval', sans-serif;
  }
.dialog form {
    height: 150px;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.dialog form input {
    font-family: 'Upheaval', serif !important;
    font-size: 1.5rem !important;
    height: 5rem;
    padding: 1rem;
    text-align: center;
}

.answer-button {
    color: white;
    background-color: #000000;
    margin: 0;
}

.dialog-title {
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: 'Upheaval';
    letter-spacing: 1px;
    color: saddlebrown;
    text-align: center;
}

#equation{
    padding: 0.1rem 0;
    text-align: center;
    font-size: 2rem;
}

.dialog {
    background-color: white;
    border: none;
    border-radius: 15px;

}

.dialog-content{
    display: flex;
    flex-direction: column;
}

.dialog-content button{
    font-family: 'Upheaval', serif;
    font-size: 1.2rem;
    height: 2.5rem;
    padding: 0.5rem;
    text-align: center;
    margin: 0.2rem;
    border-radius: 0.4rem;
    border-color: #B17B44;
    color: white;
    background-color: #B17B44;
}

.dialog-content button:hover{
    opacity: 0.8;
}

.dialog-content .close{
    background-color: saddlebrown;
}

.gameover-title {
    font-family: 'Upheaval', serif;
    font-size: 4rem !important;
    height: 5rem;
    padding: 1rem;
    text-align: center;
}


.score-display {
    font-family: 'Upheaval', serif;
    display: inline-block; 
    color: white;
    margin: 0 10px; 
    padding: 5px 10px;
    text-align: center;
}

#ui.Leaderboard{
    position: absolute;
    top: 10%;
    bottom: 10%;
    right: 10%;
    left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Upheaval', serif;
    font-size: 2rem;
}


.leaderboard-container{
    display: flex;
    flex-direction: column;
}

.leaderboard-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arcade, serif;


}


a{
    text-decoration: none;
}

a:hover{
    color: black;
    text-decoration: underline;

}

.transition {
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.transition.show {
    opacity: 1;
}

.alert-title{
    font-family: 'Upheaval', sans-serif;

}
  

.alert-button {
font-family: 'Upheaval', sans-serif;

}


.alert-title-error{
    font-family: 'Upheaval', sans-serif;

}
  


.alert-button-error{
font-family: 'Upheaval', sans-serif;

}

#persistent-ui{
    position: absolute;
    z-index: 9;
}


#backButton{
    margin: 1rem 8rem;
    font-family: 'Upheaval', sans-serif;
    font-size: 1.5rem;
    color: #000000;
    cursor: pointer;
    background-color: #ececec;
    border-radius: 15px;
    padding: 10px 20px;
    border: 1px solid black;
    scale:100%
}

#backButton:hover{
    scale: 110% !important;
}

button:active{
    background: green;
}


.center{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 98vw;
    justify-content: center;

}


#turnIndicator{
    display: none;
    border-radius: 15px;
    padding: 0.5rem 1rem;
    margin-top: 0.2rem;
    width: max-content;
    background: rgba(188, 166, 86, 0.6);
    color: white;
}

